name: PR Release Check

on:
  pull_request_target:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  check-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "refs/pull/${{ github.event.number }}/merge"
          sparse-checkout: |
            RELEASE.md
            pyproject.toml
            invite_contributors.py
          sparse-checkout-cone-mode: false

      - uses: autopub/autopub-action@v1
        with:
          command: check
          autopub-version: pre-release
          github-token: ${{ secrets.BOT_TOKEN }}
          fail-on-missing: "true"
